<div class="grid-container">
  <h1>Data-debugger</h1>
  <div class="filter-row">
    <mat-form-field>
      <input matInput placeholder="Enter UUID" name="url" [(ngModel)]="model.uid" required>
    </mat-form-field>
    <button mat-raised-button class="search-button" color="primary" (click)="getData()">Fetch Data</button>
    <mat-form-field>
      <input matInput placeholder="Filter json" [ngModel]="filter | async" (ngModelChange)="filterData($event)" [disabled]="!fetchedData">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Search json" [ngModel]="search | async" (ngModelChange)="searchData($event)" [disabled]="!fetchedData">
    </mat-form-field>
  </div>


  @if (fetchedData && fetchedData.mappedData() !== '' && fetchedData.sourceData() !== '') {


    <div class="card-wrapper">
      <mat-card class="debug-card">
        <mat-card-header>
          <mat-card-title>Source Data</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-json-viewer [json]="fetchedData.sourceData" [filter]="filter" [search]="search"></app-json-viewer>
        </mat-card-content>
      </mat-card>
      <mat-card class="debug-card">
        <mat-card-header>
          <mat-card-title>Mapped Data</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-json-viewer [json]="fetchedData.mappedData" [filter]="filter" [search]="search"></app-json-viewer>
        </mat-card-content>
      </mat-card>
    </div>
  }
</div>
